p {
    color: rgb(4, 173, 116);
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    margin-bottom: 20px;
}
*{
    background-image:url(https://deti-online.com/i/2/01/54005/print/pokemon-gengar-0094.jpg);
}
.sun  {
  color: yellowgreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
body {
    background-color: azure;
    text-align: center;
}

table, th, td {
    border: 1px solid;
  }

  .mw-headline {
    color: brown;
  }
h5{
    color: skyblue;
}
   h2 {
    color: rgb(33, 233, 167);font-size: 16px;
    line-height: 48px;
    margin-top: 60px;
    padding: 10px 20px;

      }
   